.landing-page {
  height: 100vh;
  background-image: url("C:/Users/malir/houseplant-store/src/components/pngtree-watercolor.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(6, 6, 6);
  text-align: center;
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.get-started-button {
  background-color: #28a745;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
}

.hero-description {
  width: 60%;
  margin-top: 30px;
  font-size: 1.2rem;
  line-height: 1.6;
}
